.intro {
    width: 100vw;
    height: 100vh;
    max-width: 85%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;

}

.introContent {
    width: 100vw;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

.imagen {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    margin-left: 10em;
}

.greet {
    font-size: 1.75rem;
    font-weight: 100;
}

.name {
    color: #EB8DB5
}

.paragraph {
    font-weight: 100;
    font-size: 1.25rem;
    letter-spacing: 1px;
    width: 60%;
    margin-bottom: 0.5em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB8DB5;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    width: 20%;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

.btnLink {
    color: #000;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width:860px) {
    .intro {
        max-width: 100%;
    }

    .imagen {
        right: -100px;
        margin-top: 1em;
    }

    .introContent {
        font-size: 2rem;
        padding: 0.5em;
        width: 100vw;
        background-color: #2d2a2a68;
        max-width: 100%;
        padding-top: 5em;
    }

    .paragraph {
        color: #ffffff;
        width: 100%;
    }

    .greet {
        font-size: 1.5rem;
    }

    .btn {
        width: 30%;
    }
}

@media screen and (max-width:470px) {
    .introContent {
        padding-top: 1.5em;
    }

    .btn {
        width: 100%;
    }

}